@font-face {
  font-family: "Epilog";
  src: url("./fonts/epilog.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ShareRegular";
  src: url("./fonts/Share-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }